@{
    ViewBag.Title = "Ads Anailzer using MEDIA Radar specification";
}
<br/>
<br/>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">@ViewBag.Title</h3>
    </div>
    <div class="panel-body">
        Contact to author
        <div class="alert alert-info">
           <span class="glyphicon glyphicon-envelope"></span> <a href="mailto:olgierd2d@gmail.com">Olgierd Dziamski</a>
        </div>
    </div>
</div>